version: "3.8"

services:
  bsc:
    image: ghcr.io/bnb-chain/bsc:latest
    container_name: bsc-node
    command:
      - --config=/bsc/config/config.toml
      - --datadir=/data
      - --syncmode=full
      - --gcmode=archive
      - --http
      - --http.addr=0.0.0.0
      - --http.port=8545
      - --http.api=eth,net,web3,debug,trace,txpool
      - --ws
      - --ws.addr=0.0.0.0
      - --ws.port=8546
      - --ws.api=eth,net,web3,debug,trace,txpool
      - --cache=8000
      - --maxpeers=100
      - --txlookuplimit=0
      - --verbosity=3
    volumes:
      - ./data/bsc:/data
      - ./config:/bsc/config

    ports:
      - "8545:8545"
      - "8546:8546"
      - "30311:30311"
      - "30311:30311/udp"
    restart: unless-stopped
    networks:
      - blockchain-net

networks:
  blockchain-net:
    external: true
