services:
  clickhouse:
    image: clickhouse/clickhouse-server:23.8
    container_name: clickhouse
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    ports:
      - "18123:18123"
      - "9001:9001"
    environment:
      CLICKHOUSE_USER: admin
      CLICKHOUSE_PASSWORD: mehran.admin
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: "1"
    networks:
      - blockchain-net

volumes:
  clickhouse_data:

networks:
  blockchain-net:
    external: true